<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <title</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (typeof game !== 'undefined' && game.cssFile){
      
        %> 
      <link rel="stylesheet" href="/css/<%=game.cssFile%>">
     <% 
      if (game.cssReset) { %>
        <link rel="stylesheet" href="/css/<%=game.cssReset%>">
     <% } 
     
    }  %>
  </head>

  <body>
    <header>
      <h1>GameHub</h1>
      <%- include('nav');%>
    </header>