<%- include('partials/header');%>
  <div class="container">
  <form id="configuration" class="configuration"></form>
    <div id="invader" class="invader"></div>
    <div id="colorPicker" class="colorPicker">
      <div id="grey" class="colorItem grey"></div>
      <div id="black" class="colorItem black"></div>
      <div id="fof" class="colorItem fof"></div>
      <div id="ofo" class="colorItem ofo"></div> 
    </div>
  </div>
  
  <script src="/js/<%=game.jsFile%>"></script>
  <%- include('partials/footer');%>